body {
  margin: 0;
  font-family: 'Cinzel Decorative', cursive;
font-family: 'Courgette', cursive;
font-family: 'Crimson Text', serif;
font-family: 'EB Garamond', serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Niconne', cursive;
font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(220, 243, 255);
}

code {
  font-family: 'Cinzel Decorative', cursive;
font-family: 'Courgette', cursive;
font-family: 'Crimson Text', serif;
font-family: 'EB Garamond', serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Niconne', cursive;
font-family: 'Source Sans Pro', sans-serif;
    
}
.head{
  font-size: 2.5rem;
}
.intro{
  /* font-size: 1.2rem; */
  font-family: 'Cinzel Decorative', cursive;
font-family: 'Courgette', cursive;
font-family: 'Crimson Text', serif;
font-family: 'EB Garamond', serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Niconne', cursive;
font-family: 'Source Sans Pro', sans-serif;
  font-size:1.2rem;
}
/* table {
  border: 2px solid black;
  width: 1200px;
  height: 200px;
} */
  
/* th {
  border-bottom: 1px solid black;
} */
.table {
  margin: 0 auto;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left:2px solid black;
  border-right:2px solid black;
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Courgette', cursive;
  font-family: 'Crimson Text', serif;
  font-family: 'EB Garamond', serif;
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Niconne', cursive;
  font-family: 'Source Sans Pro', sans-serif;
}
tr:hover{
  background-color:rgb(123, 197, 237);
}